
.icon-github:before { content: '\e800'; } /* '' */
.icon-android-1:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-html5:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-website:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-torso:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-code:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80f'; } /* '' */
.icon-rss-1:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-bell:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */